body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    font-family: sans-serif ;
    background: #000;
}

.menu{
    background: rgb(255, 255, 255);
    width: 300px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
       border: 2px solid rgb(255, 191, 0);

}

.manu {
    
    transition: transform .2s;
} 

.menu p{
    margin: 0 10px ;
    display: flex;
    align-items: center;
}

.main-media{
   background:  rgb(255, 255, 255);
   width:300px;
   padding: 10px;
   list-style-type: none;
   border-radius: 5px;
   border: 2px solid rgb(255, 204, 0);
   gap: 500px;
}



.facebook{
    color: rgb(8, 0, 255);
    display: flex;
    gap: 170px;
    padding-left: 8px;
    
}
.youtube{
    color: rgb(255, 0, 0);
    display: flex;
    gap: 180px;
    padding-left: 8px;

}
.twitter{
    color: rgb(0, 200, 255);
    display: flex;
    gap: 190px;
    padding-left: 8px;

}
.linkedin{
    color: rgb(0, 4, 255);
    display: flex;
    gap: 180px;
    padding-left: 8px;

}
.github{
    color: rgb(0, 0, 0);
    display: flex;
    gap: 190px;
    padding-left: 8px;

}

.section{
    margin: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: .4s;

}

.section:hover{
    background-color: #f4b0b0;
    transform:scalex(1.03);
    box-shadow: 4px 4px 5px black;
}